@font-face {
    font-family: Museo; 
    src: url(Museo\ 700\ Regular.ttf);
}

.placeholder {
    background-color: red;
}

.background {
    background-image: url("./images/under\ construction.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.message {
    font-family: Museo;
    text-align: center;
    top: 22%;
    width: 100%;
    position: absolute;
    color: rgb(222, 169, 32);
    font-size: 60px;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}